4site-pro/n8n/strategic_social_engagement.json

{
  "name": "Strategic Social Engagement",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ],
      "webhookId": "social-engagement-webhook-id",
      "id": "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6"
    },
    {
      "parameters": {
        "mode": "json",
        "jsCode": "const data = $json.body;\n// Process data to determine social media action\n// Example: if (data.event === 'new_popular_project') { ... }\n$items[0].json.message = `Check out this new project: ${data.projectName}! ${data.projectUrl}`;"
      },
      "name": "Prepare Social Post",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [ 450, 300 ],
      "id": "a2b3c4d5-e6f7-a8b9-c0d1-e2f3a4b5c6d7"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "tweet",
        "operation": "create",
        "text": "{{ $json.message }}"
      },
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [ 650, 300 ],
      "credentials": { "twitterOAuth2Api": { "id": "YOUR_TWITTER_CREDENTIAL_ID", "name": "Twitter account" } },
      "id": "b3c4d5e6-f7a8-b9c0-d1e2-f3a4b5c6d7e8"
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [ [ { "node": "Prepare Social Post", "type": "main", "index": 0 } ] ] },
    "Prepare Social Post": { "main": [ [ { "node": "Post to Twitter", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": {},
  "id": "workflow_strategic_social_engagement",
  "meta": { "instanceId": "changeme" },
  "pinData": {}
}
